*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* shared */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.btn{background-color: #FD6E0A;
border: none;
padding: 18px 35px; font-size: 20px; border-radius: 5px; font-weight: bold; color: white;

}
.logo h2{
    font-size: 45px;
    font-weight:900px;
}
.color-orange{
    color: #FD6E0A;
}
/* main */
header{
    background-color:#FFF8F3; margin-top: 50px;
}
nav{
    width:71%; max-width:1140px;
    /* border: 1px solid tomato; */
    margin: 0 auto;
    display: flex; justify-content: space-between;
    align-items: center;

}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
   
    
    align-items: center;
}
 nav .menu a {
    font-size: 20px; 
    color: #474747;
    text-decoration: none;
}